.habilidades {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.habilidades .grid_view {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(auto, 80px);
    gap: 16px;
}

@media (max-width: 700px) {
    .habilidades .grid_view {
        grid-template-columns: repeat(2, 1fr);
    }
}