.card_habilidade {
    background: #2226ff3a;
    backdrop-filter: blur(16px);

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;
    border-radius: 10px;
    transition: all .3s ease;

}

.card_habilidade:hover {
    transform: scale(1.05);
    background-color: var(--primaria);
}

.card_habilidade img {
    width: 40px;
}