.card_habilidade {
    backdrop-filter: blur(16px);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border-radius: 10px;
    transition: all .3s ease;
    padding: 10px;
    min-width: 130px;
    

    

}

.card_habilidade:hover {
    transform: scale(1.05);
    background-color: var(--primaria);
}

.card_habilidade img {
    width: 20px;
}

