.sobre {
   display: flex;
   flex-direction: column; 

}

.row_app {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 10px;

    gap: 10px;

}

.banner {
    width: 300px;
    min-height: 300px;
    background-color: #d2d2d2;
    border-radius: 50%;
}

.infos {
    max-width: 40%;
    gap: 30px;
}

.sobre .card_infos {
    border: 2px solid var(--primaria);
    flex: 1;
    padding: 10px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 20px;

    text-align: center;
}

.sobre .card_infos  i {
    font-size: 1.4rem;
    color: var(--primaria);
}

.sobre .card_infos  span {
    font-weight: bold;
    font-size: .9rem;
}

.sobre .card_infos  p {
    opacity: .6;
    font-size: .75rem;
}

.infos p {
    font-size: .98rem;
}


@media (max-width: 700px) {
    .row_app {
        flex-direction: column;
        min-height: auto;
        padding: 20px;
        gap: 3rem;
    }

    .infos {
        min-width: 100%;
    }
}