.home {
    display: flex;

    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    flex: .7;

    padding: 4rem;


    min-height: 100dvh;
}

.infos_hero {
    width: 100%;
    max-width: 1000px;
        margin: 0 auto;
    
    display: flex;
    justify-content: start;
    align-items: start;
}

.name_user {
    font-size: 5rem;
}

.text-app {
    font-size: .9rem;
}

.text-color {
    font-weight: bold;
    font-size: .9rem;
    color: var(--primaria);
}
