.cardprojeto_content {
    border: 1px solid var(--primaria);
    padding: 20px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    transition: all .5s ease;

    min-height: 360px;
    
}

.cardprojeto_content:hover {
    transform: scale(1.02);
}


.cardprojeto_content img {
    height: 100%;
    max-height: 130px;
    
}