@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

}
*::-webkit-scrollbar {
  width: 0;
}

:root {
  --primaria: #1b9278;
  --bg: #222227;
  --text: #FFF;
}

.app {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100dvh;

  overflow: auto;

  background-color: var(--bg);
  color: var(--text);

  position: absolute;
  top: 0;
  left: 0;

  font-size: .8rem;
  

  padding-bottom: 6rem;
  scroll-behavior: smooth;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-direction: row;
}
.row2 {
  display: flex;
  align-items: center;
  gap: 10px;

  flex-wrap: wrap;
  
}
.row2.center {
  justify-content: center;
}

.button {
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  
  border: 2px solid var(--primaria);
  color: var(--primaria);

  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.button i {
  font-size: 1rem;
}


.button2 {
  color: var(--text);
  background-color: var(--primaria);
  
}

.button3 {
  color: var(--text);
  background-color: var(--bg);
  
}


.button:hover {
  background-color: #FFF;
  color: #000;
  border: 2px solid transparent;
}

.text_float {
  box-shadow: 0 0 10px -2px var(--primaria);
  padding: 10px;
  min-width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border-radius: 20px;
  color: var(--primaria);

  transition: all .3s;
}

.text_float:hover {
  background-color: var(--primaria);
  color: var(--text);
}